h1{
    text-align: center;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 800px;
    grid-template-columns: minmax(100px, 100px) repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px) ;
}

button{
    cursor: pointer;
    font-size: 1.5rem;
    border: 5px black double;
}

button:hover{
    background-color: white;
    color: black;
}

.double{
    grid-column: span 2;
}

.result{
    grid-column: span 5 ;
    background-color: blanchedalmond;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border: 5px black solid;
    word-wrap: break-word;
    word-break: break-all;
}

#current{
    color:black;
    font-size: 2.2rem;
}

#total{
    color: gray;
    font-size: 1.2rem;
}